#### SQL and SQLite

##### sql (structured query language) is a standard language for managing and manipulating relational databases . SQLite is a self-conatined , serverless and zero configuration database engine that is widely used for embedded database systems.In this lesson, we will cover the basics of SQL and SQLite , including creating databases , tables and performing various SQL operations.

In [2]:
import sqlite3

In [3]:
## connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [4]:
cursor=connection.cursor()

In [5]:
## create a table

cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

## commit the changes
connection.commit()

In [6]:
cursor.execute('''
Select * from employees

''')

In [7]:
## Insert the data in dqlite table

cursor.execute('''
Insert Into employees(name,age,department)
values('akki','21','AI Scientist')
''')

cursor.execute('''
Insert Into employees(name,age,department)
values('nali','27','Whore')
''')

cursor.execute('''
Insert Into employees(name,age,department)
values('ashley','25','Bar Dancer')
''')


## commit the changes
connection.commit()

In [9]:
## query some data from the table

cursor.execute('select * from employees')
rows=cursor.fetchall()

## print the queried data 

for row in rows:
  print(row)

(1, 'akki', 21, 'AI Scientist')
(2, 'nali', 27, 'Whore')
(3, 'ashley', 25, 'Bar Dancer')

In [12]:
## update the data in the table

cursor.execute('''
UPDATE employees
Set age=22
where name="akki"
''')

connection.commit()


cursor.execute('select * from employees')
rows=cursor.fetchall()

## print the queried data 

for row in rows:
  print(row)

(1, 'akki', 22, 'AI Scientist')
(2, 'nali', 27, 'Whore')
(3, 'ashley', 25, 'Bar Dancer')

In [13]:
## Delete the data from the table

cursor.execute('''
Delete from employees
where name="ashley"
''')

connection.commit()

In [14]:
cursor.execute('select * from employees')
rows=cursor.fetchall()

## print the queried data 

for row in rows:
  print(row)

(1, 'akki', 22, 'AI Scientist')
(2, 'nali', 27, 'Whore')

In [18]:
## Working With Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
values(?,?,?,?)
''',sales_data)

connection.commit()

In [19]:
## Query data from the sales table

cursor.execute('SELECT * FROM sales')
rows=cursor.fetchall()

## print the queried data
for row in rows:
  print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')
(6, '2023-01-01', 'Product1', 100, 'North')
(7, '2023-01-02', 'Product2', 200, 'South')
(8, '2023-01-03', 'Product1', 150, 'East')
(9, '2023-01-04', 'Product3', 250, 'West')
(10, '2023-01-05', 'Product2', 300, 'North')
(11, '2023-01-01', 'Product1', 100, 'North')
(12, '2023-01-02', 'Product2', 200, 'South')
(13, '2023-01-03', 'Product1', 150, 'East')
(14, '2023-01-04', 'Product3', 250, 'West')
(15, '2023-01-05', 'Product2', 300, 'North')

In [ ]:
## close the connection

connection.close()